#banner {
  display: flex;
  flex-direction: column;
  background: url("/public/assets/banner_background.png");
  width: 100%;
  height: 100vh;
}
h1 {
  color: white;
  font-size: 48px;
  font-weight: bolder;
  margin: 16% auto 0 7%;
  width: 15em;
}
h3 {
  color: white;
  font-size: 20px;
  margin: 10px auto 0 7%;
}
#order {
  width: 9em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
  background: #ff9900;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  margin: 25px auto auto 7%;
}
@keyframes scale {
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}
#order:hover {
  transform: scale(1.05);
  animation: scale 0.5s;
}
