#freeCallWrapper {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 400px;
  margin: 0 auto 0 auto;
}
#info {
  width: 33%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #006e4a;
  border-top: 3px solid#006e4a;
  border-bottom: 3px solid #006e4a;
  border-left: 3px solid#006e4a;
}
#info h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  margin: 50px auto 0 20px;
}
#info p {
  margin: 50px auto 0 20px;
  color: white;
  font-size: 24px;
  font-weight: normal;
}
#info span {
  color: white;
  font-size: 16px;
  font-weight: lighter;
  margin: 10px auto auto 20px;
  width: 100%;
}
#middleGradiented {
  margin: 0;
  width: 33%;
  height: 400px;
  background: linear-gradient(to right top, #006e4a 50%, white 50%);
  border-top: 3px solid#006e4a;
  border-bottom: 3px solid #006e4a;
}
#picBlock {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 33%;
  height: 400px;
  background: white;
  border-top: 3px solid#006e4a;
  border-right: 3px solid#006e4a;
  border-bottom: 3px solid #006e4a;
}
#picBlock img {
  width: 80%;
  height: 70%;
  margin: 20px 0 0 auto;
}
#picBlock button {
  background: #ff9900;
  width: 7em;
  height: 1.5em;
  vertical-align: middle;
  color: white;
  font-size: 28px;
  font-weight: bolder;
  border: none;
  margin: 20px 20px auto auto;
  cursor: pointer;
}
@keyframes scale {
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}
#picBlock button:hover {
  transform: scale(1.05);
  animation: scale 0.5s ease-out;
}
